
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: #fff3ea;
	border-top: 1px solid #a09994;
}

#footer-top {
	padding-top: 5rem;
	padding-bottom: 3rem;
}

#footer-main {
	padding-top: 0rem;
    padding-bottom: 3rem;
}

#copyrights {
	font-size: 0.875rem;
	white-space: nowrap;
	color: #a09995;
	margin-top: 0.875rem;
}
