
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
	color: #414040;
	margin-bottom: 1rem;

	.icon-header {
		font-size: 1.125rem;
		font-weight: 500;
		display: block;
	}
}